<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='css/first.css') }}"
    >
  </head>
  <body>
        <div class="head1">
          <div class="compLink">
            <a href="http://127.0.0.1:5000/players" class="theLink">Player Comparison</a>
          </div>
        </div>
        <h2>Enter 2 players into the text boxes below and click Search!</h2>  
  <div class="box">
    <input type="text" id="searchInputLeft" class="big-textbox">
    <input type="text" id="searchInputRight" class="big-textbox">
  </div>
  <div id="messageContainer"></div>
  <button id="searchButton" class="search">Search</button>
  <script src="{{ url_for('static', filename='js/code.js') }}"></script>
  </body>
</html>